<html>
  <body>
    <form method="POST">
      <label>
	Name: <input type="text" name="name" />
      </label><br />
      <label>
	Icon: <input type="text" name="icon" />
      </label><br />
      <label>
	Width: <input type="text" name="width" />
      </label><br />
      <label>
	Height: <input type="text" name="height" />
      </label><br />
      <label>
	Alt text: <input type="text" name="alt" />
      </label><br />
      <label>
	Password: <input type="text" name="password" />
      </label><br />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
