<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>被災地ほしい物リスト一覧</title>
    <style type="text/css">
      .piecesCol {
	text-align: right;
      }
      .amountCol {
	text-align: right;
      }
      .minutesAgoCol {
	text-align: right;
      }
      .important {
	font-weight: bold;
	color: red;
      }
    </style>
  </head>
  <body>
    <h1>被災地ほしい物リスト一覧</h1>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Famazon-wish-japan.appspot.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    <div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ssci">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <p>
      東日本大震災の被災地が作成した、アマゾンの「ほしい物リスト」の一覧表です。
    </p>
    <p>
      アマゾンで買って、送り先は被災地。アマゾンを使って被災地の支援ができます。
      簡単です。手順については、このページ下の方の<a href="#proc">「手順」の項</a>で説明します。
    </p>
    <p>
      <a href="http://www.amazon.co.jp/gp/registry/search.html?ie=UTF8&type=wishlist&field-location=&field-name=%E3%80%90%E8%A2%AB%E7%81%BD%E5%9C%B0%E3%80%91">アマゾンの「ほしい物リスト」のページから検索できます</a>が、金額や点数が一覧になっていないため、どこが現在支援を必要としているかわかりづらいです。
      仕方がないので、上記のページからデータを抜き出して一覧表にしました。
      数分間隔で更新しています。
      <span class="important">このページは、何らの権限も確実性も持ちません。必ず、リンク先の「ほしい物リスト」のページをご覧になり、送り先の場所、必要としている商品などの内容を確認してください。</span>
      悪意の第三者が被災地を騙る可能性もゼロではなく、そういった「ほしい物リスト」がここに混入する可能性もあります。
    </p>
    <p>
      サーバ（計算機資源）は、グーグルさん提供です。
    </p>

    <table border="1">
      <tr>
	<th>支援先</th>
	<th colspan="2">支援が必要</th>
	<th colspan="2">支援済み</th>
	<th>情報取得</th>
      </tr>
      {% for page in pages %}
	<tr>
	  <td>
	    <a href="http://www.amazon.co.jp/registry/wishlist/{{ page.key().name() }}">{{ page.owner_name }}</a>
	  </td>
	  <td class="piecesCol">
	    {{ page.wish_pieces|default(0, true)|comma }}個
	  </td>
	  <td class="amountCol">
	    {{ page.wish_amount|default(0, true)|comma }}円
	  </td>
	  <td class="piecesCol">
	    {{ page.got_pieces|default(0, true)|comma }}個
	  </td>
	  <td class="amountCol">
	    {{ page.got_amount|default(0, true)|comma }}円
	  </td>
	  <td class="minutesAgoCol">
	    {{ page.updated|minutes_ago }}分前
	  </td>
	</tr>
      {% endfor %}
    </table>

    <a name="proc" id="proc"><h2>手順</h2></a>
    具体的なお買い物→支援の手順を説明します。
    <ol>
      <li>
	上記の表から、「支援が必要」の項の個数や金額がゼロじゃない支援先を選びます。
      </li>
      <li>
	選んだ支援先の名前をクリック。
	その支援先の「ほしい物リスト」が表示されます。
	送り先住所や、並んでいる商品を確認してください。
	<span class="important">被災地支援として適切じゃない宛先や商品の場合は、この「ほしい物リスト」からは支援を行わないでください。</span>
      </li>
      <li>
	贈りたい商品を選んで、「ショッピングカートに入れる」ボタンをクリック。
      </li>
      <li>
	ここで、「レジに進む」ボタンをクリックせず、「カートの商品を変更する」ボタンをクリックして、ショッピングカートを表示します。
	自分自身のお買い物商品が入ってない事を確認しましょう。
	入っている場合は、「削除」または「今は買わない」ボタンできれいにします。
	<span class="important">商品名の下に「ギフトの設定」チェックボックスが有る場合には、チェックしてください。</span>
	<a href="#giftflag">その理由は↓</a>
	マーケットプレイスの商品の場合には、チェックボックスが無い事があります。
      </li>
      <li>
	「レジに進む」ボタンをクリックして支払い手続きを行ないます。
	自分のパスワードを入力。
      </li>
      <li>
	お届け先を選ぶ画面になります。
	<span class="important">必ず、「ギフト用に登録された住所」を選びます。</span>
	間違えて、自宅に送ってしまわない様に気をつけてください。
      </li>
      <li>
	上記で「ギフトの設定」チェックボックスが有って、これをチェックした場合は、ギフトの設定画面になります。
	ギフトラッピングは無くていいでしょう。
	メッセージを入力できます。
	入れても入れなくてもだいじょうぶです。
      </li>
      <li>
	カード番号を入力します。
	送り先が普段と違うので、改めて入力する必要があります。
      </li>
      <li>
	あとは最終確認です。
      </li>
    </ol>

    <h2>ヒント</h2>
    <ul>
      <li>
	<a name="giftflag" id="giftflag">
	  上記の手順説明では、「ギフトの設定」を行うようにお願いしています。
	</a>
	これを行わないと、以下のような問題が起きてしまいます。
	<ul>
	  <li>贈った人の氏名等が通知されません。</li>
	  <li>商品に不具合が有った際、受け取った人が問い合わせをしても対応してもらえない可能性が高いです。</li>
	</ul>
      </li>
      <li>
	複数の被災地への支援物資を一括して支払おうとすると、送り先の選択の時にちょっと困ります。被災地ごとに分けて支払うといいですよ。
      </li>
      <li>
	<a href="http://www.amazon.co.jp/gp/help/customer/display.html?nodeId=200669810">アマゾンが把握している避難所の一覧がここにあります。</a>
      </li>
    </ul>

    <h2>よくある質問</h2>
    <dl>
      <dt>
	<a name="faq1" id="faq1">
	  「マーケットプレイスの商品はギフト用の宛先に送れません」というエラーになる。
	</a>
      </dt>
      <dd>
	ショッピングカートに入れる時、複数の出品者から自動的に選ばれます。
	たまたま、選ばれた出品者が使っている配送業者が、指定の宛先に配送不能である場合にこのようなエラーが出ます。
	この場合には以下の手順でどうぞ。
	<ol>
	  <li>エラーになった商品名を覚える。</li>
	  <li>カートに戻る。</li>
	  <li>カートの中でエラーになった商品を探し、出品者名を覚える。</li>
	  <li>この商品を削除する。</li>
	  <li>「ほしい物リスト」のページに戻る。</li>
	  <li>「ショッピングカートに入れる」ボタンのすぐ上「?点の新品/中古品」ってリンクをクリックする。</li>
	  <li>さっきと違う出品者を選んで「ショッピングカートに入れる」ボタンをクリックする。</li>
	</ol>
      </dd>

      <dt>
	<a name="faq2" id="faq2">アマゾンとはどういう関係ですか？</a>
      </dt>
      <dd>
	特定の関係はありません。
	ですから、当サイトに書いてある事は参考までとして扱っていただき、必ずアマゾンのサイト上で確認してください。
      </dd>

      <dt>
	<a name="faq3" id="faq3">
	  どのページを見ても同じ商品ばかり並んでいます。
	</a>
      </dt>
      <dd>
	それは、被災地が欲しい商品ではなく、「あなたへのお勧め商品」ではありませんか？
	「ほしい物リスト」が空っぽの時に表示されます。
      </dd>
    </dl>

    <h2>やること</h2>
    <ul>
      <li>スタイルシート</li>
      <li>グラフ表示とか？</li>
      <li>ツイッター連携とか？</li>
      <li>wish listページが複数ページだった時の処理。未だ、簡易表示で複数ページになったほしい物リストが無いので、どう処理していいかわからない。</li>
    </ul>

    <h2>履歴</h2>
    <ul>
      <li>2011-4-20 アクセス数が増えてきたので、memcacheを使うようにしました。</li>
      <li>2011-4-19 並び順を変えました。無くなったページを削除するようにしました。</li>
      <li>2011-4-18 公開</li>
    </ul>

    <hr/>
    更新日：2011-4-19<br/>
    連絡先：<a href="http://twitter.com/ssci">@ssci</a><br/>
    ソース：<a href="https://github.com/sgk/amazon-wish-japan">https://github.com/sgk/amazon-wish-japan</a>
  </body>
</html>
