<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>被災地ほしい物リスト一覧</title>
    <style type="text/css">
      .piecesCol {
	text-align: right;
      }
      .amountCol {
	text-align: right;
      }
      .minutesAgoCol {
	text-align: right;
      }
      .important {
	font-weight: bold;
	color: red;
      }
    </style>
  </head>
  <body>
    <h1>被災地ほしい物リスト一覧</h1>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Famazon-wish-japan.appspot.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    <div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ssci">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <p>
      東日本大震災の被災地が作成した、アマゾンの「ほしい物リスト」の一覧表です。
    </p>
    <p>
      アマゾンで買って、送り先は被災地。アマゾンを使って被災地の支援ができます。
      簡単です。以下の表のリンクから、「ほしい物リスト」を表示して、「ショッピングカートに入れる」ボタンをクリック。
      あとは普通通りに買い物するだけです。送り先を選択する画面に、被災地の送り先が現れます（間違えて自分ちに送っちゃわないように注意しましょう）。
    </p>
    <p>
      <a href="http://www.amazon.co.jp/gp/registry/search.html?ie=UTF8&type=wishlist&field-location=&field-name=%E3%80%90%E8%A2%AB%E7%81%BD%E5%9C%B0%E3%80%91">アマゾンの「ほしい物リスト」のページから検索できます</a>が、金額や点数が一覧になっていないため、どこが現在支援を必要としているかわかりづらいです。
      仕方がないので、上記のページからデータを抜き出して一覧表にしました。
      数分間隔で更新しています。
      <span class="important">このページは、何らの権限も確実性も持ちません。必ず、リンク先の「ほしい物リスト」のページをご覧になり、送り先の場所、必要としている商品などの内容を確認してください。</span>
      悪意の第三者が被災地を騙る可能性もゼロではなく、そういった「ほしい物リスト」がここに混入する可能性もあります。
    </p>
    <p>
      本来は、アマゾンさんがこういう機能を提供してくれたらいいと思うのですが、「ほしい物リスト」は本来は災害支援用じゃないから、仕方ないですね。
      もしも、アマゾンさんが提供してくれるようになったら、教えてください。
      その時には、混乱を避けるために、こっちは閉じたいと思います。
    </p>
    <p>
      サーバ（計算機資源）は、グーグルさん提供です。
    </p>

    <table border="1">
      <tr>
	<th>支援先</th>
	<th colspan="2">支援が必要</th>
	<th colspan="2">支援済み</th>
	<th>情報取得</th>
      </tr>
      {% for page in pages %}
	<tr>
	  <td>
	    <a href="http://www.amazon.co.jp/registry/wishlist/{{ page.key().name() }}">{{ page.owner_name }}</a>
	  </td>
	  <td class="piecesCol">
	    {{ page.wish_pieces|default(0, true)|comma }}個
	  </td>
	  <td class="amountCol">
	    {{ page.wish_amount|default(0, true)|comma }}円
	  </td>
	  <td class="piecesCol">
	    {{ page.got_pieces|default(0, true)|comma }}個
	  </td>
	  <td class="amountCol">
	    {{ page.got_amount|default(0, true)|comma }}円
	  </td>
	  <td class="minutesAgoCol">
	    {{ page.updated|minutes_ago }}分前
	  </td>
	</tr>
      {% endfor %}
    </table>

    <h2>よくある質問</h2>
    <dl>
      <dt>「マーケットプレイスの商品はギフト用の宛先に送れません」というエラーになる。</dt>
      <dd>
	ショッピングカートに入れる時、複数の出品者から自動的に選ばれます。
	たまたま、選ばれた出品者が使っている配送業者が、指定の宛先に配送不能である場合にこのようなエラーが出ます。
	この場合には一旦削除して、「ほしい物リスト」のページを再読込してからショッピングカートに入れ直すとうまくいくかも知れません。
	現時点では、確実にうまくいく方法が見つかっていません。
      </dd>

      <dt>アマゾンとはどういう関係ですか？</dt>
      <dd>
	特定の関係はありません。
	ですから、当サイトに書いてある事は参考までとして扱っていただき、必ずアマゾンのサイト上で確認してください。
      </dd>
    </dl>

    <h2>やること</h2>
    <ul>
      <li>スタイルシート</li>
      <li>グラフ表示とか？</li>
      <li>ツイッター連携とか？</li>
      <li>wish listページが複数ページだった時の処理。未だ、簡易表示で複数ページになったほしい物リストが無いので、どう処理していいかわからない。</li>
    </ul>

    <h2>履歴</h2>
    <ul>
      <li>2011-4-19 並び順を変えました。無くなったページを削除するようにしました。</li>
      <li>2011-4-18 公開</li>
    </ul>

    <hr/>
    更新日：2011-4-19<br/>
    連絡先：<a href="http://twitter.com/ssci">@ssci</a><br/>
    ソース：<a href="https://github.com/sgk/amazon-wish-japan">https://github.com/sgk/amazon-wish-japan</a>
  </body>
</html>
