<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>被災地ほしい物リスト一覧</title>
    <style type="text/css">
      .piecesCol {
	text-align: right;
      }
      .amountCol {
	text-align: right;
      }
      .important {
	font-weight: bold;
	color: red;
      }
    </style>
  </head>
  <body>
    <h1>被災地ほしい物リスト一覧</h1>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Famazon-wish-japan.appspot.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    <div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ssci">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <p>
      東日本大震災の被災地が作成した、アマゾンの「ほしい物リスト」の一覧表です。
    </p>
    <p>
      <a href="http://www.amazon.co.jp/gp/registry/search.html?ie=UTF8&type=wishlist&field-location=&field-name=%E3%80%90%E8%A2%AB%E7%81%BD%E5%9C%B0%E3%80%91">アマゾンの「ほしい物リスト」のページから検索できます</a>が、金額や点数が一覧になっていないため、どこが現在支援を必要としているかわかりづらいです。
      仕方がないので、上記のページからデータを抜き出して一覧表にしました。
      数分間隔で更新しています。
      <span class="important">このページは、何らの権限も確実性も持ちません。必ず、リンク先の「ほしい物リスト」のページをご覧になり、送り先の場所、必要としている商品などの内容を確認してください。</span>
      悪意の第三者が被災地を騙る可能性もゼロではなく、そういった「ほしい物リスト」がここに混入する可能性もあります。
    </p>
    <p>
      本来は、アマゾンさんがこういう機能を提供してくれたらいいと思うのですが、「ほしい物リスト」は本来は災害支援用じゃないから、仕方ないですね。
      もしも、アマゾンさんが提供してくれるようになったら、教えてください。
      その時には、混乱を避けるために、こっちは閉じたいと思います。
    </p>
    <p>
      サーバ（計算機資源）は、グーグルさん提供です。
    </p>

    <table border="1">
      <tr>
	<th>支援先</th>
	<th colspan="2">支援が必要</th>
	<th colspan="2">支援済み</th>
      </tr>
      {% for page in pages %}
	<tr>
	  <td>
	    <a href="http://www.amazon.co.jp/registry/wishlist/{{ page.key().name() }}">{{ page.owner_name }}</a>
	  </td>
	  <td class="piecesCol">{{ page.wish_items|default(0, true) }}個</td>
	  <td class="amountCol">{{ page.wish_amount|default(0, true) }}円</td>
	  <td class="piecesCol">{{ page.got_items|default(0, true) }}個</td>
	  <td class="amountCol">{{ page.got_amount|default(0, true) }}円</td>
	</tr>
      {% endfor %}
    </table>
    <h2>やること</h2>
    <ul>
      <li>情報取得時刻を表示する。</li>
      <li>wish listページが取得できなかったときは削除する。</li>
      <li>一覧表に無かったときは削除する。</li>
      <li>wish listページが複数ページだった時の処理。</li>
      <li>数値を3桁ずつに区切る。</li>
    </ul>
    <hr/>
    更新日：2011-4-18<br/>
    連絡先：<a href="http://twitter.com/ssci">@ssci</a><br/>
    ソース：<a href="https://github.com/sgk/amazon-wish-japan">https://github.com/sgk/amazon-wish-japan</a>
  </body>
</html>
